fastapi==0.116.2
uvicorn==0.35.0
aiohttp==3.12.15
python-multipart==0.0.20
PyMuPDF==1.26.4
python-dotenv==1.1.1
msrest==0.7.1
azure-ai-documentintelligence==1.0.2
python-telegram-bot==22.0
boto3==1.40.33
openai==1.108.0
google-genai==1.38.0
google-auth==2.40.3
pytz==2025.2